language: java
jdk:
- openjdk11
notifications:
  slack:
    secure: GWdq7VvpCs+Z1Q3+VIsL6q0eRetGibSWKsNn5OwDgWSnbgKfLEWGPYcvzz6LPV5xE1dOO8aD6NyMhFotxSCDRXC34L4piExFSeY7bCpGaqRMEO2uolSu8hmyowJ6arksl20acnAGCf9UbwEDKKqcM13aOIMeBzbvJHzA18bWsSvnMDFOdGzTgG1577ZODb2D9iTI6gTK5aYQg0jvySG0jN0AFTFGEkJegOepflLsjOfWuX5OXRpUqrkBrh0YYrTL+v7qUdgvYxXjCqCU2iy1+cl21J31cbYirYxrW0z9T2wpdsCufSmPsd6OrMdH7gYpo7vBPNbiY4XLsQ2iMufGcLCpQ6pwGBkHc44MQGIMxV3y6RTAkmoDYYJhaO8eIngo8xUvmXeTV3Pc/qqCv/3TZxJzpFamak6bHbMBi/FObYuUU2OaQHSkzQQseEnjilX25KZ+axiaOkZBEj0UxHvQO6+UZxVbQAM2lBjf3KI6Q2209EiY83XcvA85qI3cF36lmIYmdM0pKPHglT3DwIC1KcbtzgTTX9Xhi96rBOgh6ReYcuQUpm5wjs+BWey+P6vJLcm3NpmMHoTEbMMa5Jm/T6iKQPsjXEoh5b2gwx9EUTGcfhXzwbybLyMjgReWDfHUXfyZU+mX9PYWSeCPXTIJ1TVpx7F10au8d7vJQC7IOUU=
